@model PopularSports.SurveyApp.WebAPI.Models.Survey

@{
    ViewData["Title"] = "CastVoteToSport";
}

<h1>Cast your Vote To Sport</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CastVoteToSport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sport.Name" class="control-label"></label>
                @* <input asp-for="Sport.Name" class="form-control" /> *@
                <select asp-for="Sport.Name" asp-items="@ViewBag.Sports"></select>
                <span asp-validation-for="Sport.Name" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CountOfVotes" class="control-label"></label>
                <input asp-for="CountOfVotes" class="form-control" />
                <span asp-validation-for="CountOfVotes" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Cast a Vote" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
